.signupBody{
  padding-bottom: 10px;
  margin-bottom: 100px;
  border-radius: 15px;

}

h1#signUpTitle {
  font-family: serif;
  padding: 15px;
  color: white;
  text-align: center;
}

.SignUpField{
  margin: 30px;
}
#btSignup{
  margin-left: 200px;
}
