.product.div.thumbnail {
  width: 10em;
  background: black;
  max-height: 20%;
  padding-top: 5em;
}

.product.thumbnail img {
  border-radius: 5px;
}

.product__price {
  color: white;
  font-size: 1vw;
}

.product.thumbnail p {
  color: #777;
}

h3 input[type=checkbox] {
  width: 1em;
  height: 1em;
}
