.product.div.thumbnail {
  /*width: 10em;*/
  /*max-height:*/
  background: black;
  border-radius: 30px;
  padding: 12px 7px;
  /*max-height: 20%;*/
  /*padding-top: 5em;*/
}

.product.thumbnail img {
  border-radius: 25px;
}

.product__price {
  color: white;
  font-size: 1vw;
  background: #111;
  margin: auto 5px;
}

.product.thumbnail p {
  color: #777;
  margin: 7px;
}

.product>.caption>h3 input[type=checkbox] {
  width: 2em;
  height: 2em;
  margin: 0 1em;

}

.product>.caption>h3 input[type=checkbox] + span{
  color: red;
}


.caption h3 {
  display: flex;
  align-items: center;
}

.thumbnail>.caption>h3>a {
  color: #AAE;
  font-size: 2em;
}

.product__price>div>strong {
  color: white;
}
