.place.thumbnail {
  background: white;
  border-radius: 30px;

  height: 250px;
  width: 800px;
  margin-top: 10px;
}
.show-grid.row {
  margin-top: 10px;
  padding: 12px 7px;

}

.place.thumbnail img {
  border-radius: 30px;
  border-color: black;
  border-width: 5px;
  height:200px;
  width: 250px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.place.thumbnail p {
  color: black;
  margin: 7px;
}

.place>.caption>h2 input[type=checkbox] {
  width: 2em;
  height: 2em;
  margin: 0 1em;
}

.checkbox-section{
  display: flex;
  align-items: center;
}

.checkbox-section span {

}

.place>.caption>h3 span{
  color: black;
}

.pricesDiv {
  color: black;

}

.pricesDiv strong {
  font-size: 1.8em;
}

.caption h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.caption p {
  color: black!important;
}

.thumbnail>.caption>h3>a {
  color: #AAE;
  font-size: 2em;
}

.checkbox-section input[type=checkBox] {
  color: #0c6!important;
  margin-left: 10px;
}
