.App {
  /*height: 100vh;
  width: 100vw;
  padding-top: 55px;*/
  background-image: url("images/forest-background.png");
}

/*.App-header {
  height: 150px;
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 5px;
}*/

.show-grid {
  padding-top: 5em;
}
