.homeDiv {
  color: black;
  text-align: center;
  background-color: white;
  border-color: black;
  border-width: medium;
  border-radius: 100px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.show-grid.1.row{
margin-bottom:0px;

}
.homeDiv p {
  width: 100%;
  margin-left: 18%;
  margin-bottom: 10px;
}

.homeDiv section:first-of-type {
  padding-top: 3em;
}

.homeDiv button {

  right: 10em;
}

.homeDiv h1 {
  position: left;
  left: 4em;
  padding-top: 0px;
  font-size: 80px;
  margin-bottom: 0px;
}

.logo img{
  float: right;
  margin-left: 20px;
  height: 200px;
  width: 200px;
}
