.homeDiv {
  color: black;
  text-align: left;
}

.homeDiv p {
  width: 65%;
  margin-left: 18%;
}

.homeDiv section:first-of-type {
  padding-top: 3em;
}

.homeDiv button {
  position: absolute;
  right: 10em;
}

.homeDiv h1 {
  position: left;
  left: 4em;
  padding-top: 50px;
  font-size: 80px;
}

.logo{
  border: 1px solid black;
  float: right;
  margin-left: 20px;
}
