.show-grid{
  /*color: black;*/
}

.confirmTripsDiv{
  margin-top: 5em;
  border: 1px solid gray;
  border-radius: 5px;
  background-color:rgba(200,215,255,0.85);
}

.confirmTripsDiv button {
  bottom: 2px;
  right: 25px;
  position: absolute;
}

.datas{
  margin-bottom: 2.5em;
}

td {
  background-color: rgba(255,250,245,0.65);
}

thead{
  font-size: 1.5em;
}
